<div [ngStyle]="{background: 'url(https://i.ytimg.com/vi/Z6eG4pemWs4/maxresdefault.jpg)'}" class="img img-responsive" style="height:753px">

  <div class="container-fluid">

    <div class="login-page">

      <img src="https://img.icons8.com/cool-color/64/000000/help.png" style="margin-left:150px">
      <h1 style="color:black;font-size:50px" class="text-center">Welcome To</h1>
      <h2 style="color:black;font-size:50px" class="text-center">Quiz Game</h2>

      <div class="form">



        <form class="login-form">



          <button routerLink="home">start</button>

        </form>

      </div>

    </div>

  </div>

</div>
